<footer class="mt-5 py-4 bg-dark text-white">
    <div class="container">
        <div class="row align-items-center gy-3">
            <!-- Sosyal Medya Butonları -->
            <div class="col-md-6 text-center text-md-start">
                <div class="d-flex justify-content-center justify-content-md-start gap-2">
                    <a href="#" class="btn btn-outline-light rounded-circle" title="Facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="btn btn-outline-light rounded-circle" title="Instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" class="btn btn-outline-light rounded-circle" title="YouTube">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="#" class="btn btn-outline-light rounded-circle" title="Twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>

            <!-- Telif Hakkı -->
            <div class="col-md-6 text-center text-md-end">
                <small class="d-block">&copy; 2026 <span class="text-warning">E-Cinema</span>. Tüm hakları saklıdır.</small>
            </div>
        </div>
    </div>
</footer>
